src/main/resources/schema/ratio.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="tabela_kursow">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="numer_tabeli" type="xsd:string" />
        <xsd:element name="data_notowania" type="xsd:dateTime" />
        <xsd:element name="data_publikacji" type="xsd:dateTime" />
        <xsd:element maxOccurs="unbounded" name="pozycja">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="nazwa_waluty" type="xsd:string" />
              <xsd:element name="przelicznik" type="xsd:int" />
              <xsd:element name="kod_waluty" type="xsd:string" />
              <xsd:element name="kurs_kupna" type="xsd:decimal" />
              <xsd:element name="kurs_sprzedazy" type="xsd:decimal" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="typ" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>